:root {
  --primary: #2563eb;     /* Blue */
  --secondary: #1e40af;   /* Dark Blue */
  --accent: #3b82f6;      /* Soft Blue */
  --background: #f8fafc; 
  --text: #0f172a;        
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}
body{
       text-decoration: none;
     

        
    list-style: none;
    overflow-x: hidden;

}
.navbar{
    width: 100%;
    height: 80px;
    margin-top: 10px;
 
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-self:center ;
    justify-content: center;
 
}
.logo{
     height: 90%;
     width: 20%;
    display: flex;

    align-items: center;
    justify-content: center;
   
}
.logo-inner{
    font: 26px 'Oxanium', sans-serif;
      color: var(--text);;
}
.nav-content{


    height: 90%;
    width: 40%;

    margin: auto;
    display: flex;
   

}
.message{
    width: 10%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-icon a{
    font-size: 40px;
    color: var(--text);}
.message-icon a:hover{
    transition: 1.2s;
    color: #02e433;}
.nav-content ul{

    width: 100%;
    display: flex;
     gap: 25px;
    align-items: center;


}
.nav-content ul li a{
    color: #727272;
       font-weight: 600;


}
.nav-content ul li a.ative {
    color: #551EB0;
}

.nav-content ul li a:hover{
    color: #551EB0;
    
    transition: 0.1s;
}
.hero{
    height: 100vh;
  
    display: flex;
    align-items: end;
  
}
.hero-content{
    width: 100%;
    height: 95%;
 
    display: flex;
    align-items: center;
    justify-content: space-evenly;

   

}
.title{

    height: 100%;
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.owner{
       height: 7%;
       font: 20px 'Poppins' ,sans-serif;
       display: flex;
       align-items: center;

}
.skill-main{
    width: 70%;
   
    font: 75px 'Poppins' ,sans-serif;
    font-weight: bolder;
   line-height: 1.0;
   

}
.fornt{
    color: #6D06F6;
}
.title-lor{
       width: 70%;
       height: 15%;
      
       display: flex;
       align-items: center;
   
    color: #727272;
}
.btn-flex{
    display: flex;width: 30%;
    justify-content: space-between;
   
}
.btn{
    width: 47%;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    font: 12px 'Poppins ' ,sans-serif;;

    background-color: #0436ac;
}
.umair-img{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* OUTER CIRCLE */
.upper-circle{
    height: 60%;
    width: 70%;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 1s ease;   /* ONLY HERE */
}
.upper-circle:hover{
    border-width: 4px;
    border-color: gold;
}

/* INNER CIRCLE */
.circle-img{
    height: 80%;
    width: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1.5s ease;   /* ONLY HERE */
}
.circle-img:hover{
    height: 100%;
    width: 100%;
}

/* IMAGE */
.circle-img img{
    height: 100%;
    width: 100%;
    
    border-radius: 50%;
}
.about{
  
        height: 100vh;
  
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}
.about-content{
    width: 90%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
   
}
.about-title{
 
    height:80px ;
    
}
.about-title h2{
         width: 70%;
   
    font: 75px 'Poppins' ,sans-serif;
    font-weight: bolder;
   line-height: 1.0;
      

}
.about-lor{
    display: flex;
    gap: 15px;
  
}
.pick{
    width:20px ;
    height: 100%;
    background-color:  #6D06F6;
}
.a-lor{
    color: #727272;
    font: 20px 'Poppins' ,sans-serif;
}
.my-stack{
    display: flex;
   
    height: 50%;
   justify-content: space-between;
    width: 90%;
    align-items: end;

}
.stack{

    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;    width: 30%;

}
.stack-skill{
       
    height: 80%;
    border: 1px solid rgba(231, 225, 214, 0.884);
    width: 100%;
    background-color: #ffffff;
 box-shadow: 0 8px 20px rgba(0,0,0,0.25);

    border-radius: 15px;
    background-image: url(./Assets/chatgpt.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.stack-h3{
        font: 20px 'Robboto' ,sans-serif;
}
#stack{
    width: 67%;

}
.Skills-sec{
    height: 80vh;
   
}
.Skills-title{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100px;
}
.Skills-title h2{
 font:52px 'Robboto' , sans-serif;
 color: var(--primary);
 

}
#About{
    background-color: red;
    gap: 50px;
}
.s-flex{
    display: flex;
       font-size: 25px;
    font-weight: 600;
    color: #260135;
}
.skill-cards{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}
.card{
       width: 25%;
    height: 80%;
    background-color: rgb(202, 216, 7);
}
.c-imagem{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-image{
    height: 55%;
    width: 27%;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.c-image img{
    height: 100%;
    width: 100%;
}
.card-content{
    height: 50%;
    background-color: aqua;
}